@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font: normal 100%/1.3 Ubuntu, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  color: #fff;
  background-color: #18294f;
}

header h1 {
  font-size: 2rem;
  text-align: center;
  margin: 0;
  padding: .3em 0 .5em;
}

a:link,
a:visited {
  display: block;
  color: #6c8fe0;
  text-decoration: none;
}

nav a {
  padding: .5em .75em;
}

nav ul {
  list-style-type: none;
  font-size: 1.125rem;
  padding: 0;
  margin: 0;
}

nav a:hover {
  color: #fff;
  background-color: #6c8fe0;
}

@media only screen and (min-width: 25em) {

  ul {
    display: flex;
    flex-wrap: wrap;
  }

  li {
    width: 50%;
    text-align: center;
  }

}

@media only screen and (min-width: 38em) {

  li {
    width: 25%;
    text-align: center;
  }

  header {
    font-size: 110%;
    line-height: 1.4;
  }

}

@media only screen and (min-width: 60em) {

  header {
    font-size: 120%;
    line-height: 1.5;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  header h1 {
    padding: .5em .75em;
  }

  li {
    white-space: nowrap;
    padding: 0;
    width: auto;
  }

  nav ul {
    text-align: right;
    justify-content: flex-end;
  }
